* {
  box-sizing: border-box;
}

:root {
  --medium-trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #region Reset */
ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
  transition: var(--medium-trns);
  transition-property: color;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: 0px;
}
/* #endregion */

body {
  padding: 36px;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  color: #2e2f42;
}

.container {
  margin: 0 auto;
  min-width: 1128px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.search-form input,
.search-form button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.search-form button {
  background-color: #ff3d00;
  color: white;
}

.search-form input:focus,
.search-form button:focus {
  outline: none;
  border-color: #ff3d00;
}

.gallery {
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: calc(360px * 3 + 24px * 2);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform var(--medium-trns);
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.image-statistic {
  width: 100%;
  padding: 4px 10px;
  display: flex;
}

.image-statistic-item {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-statistic-item-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-statistic-item-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.hidden {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
